body{
    background-color: #444;
}


.table1 {
    font-family: sans-serif;
    color: #444; 
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background: #35a9db;
    color: #fff;
    font-weight: Bold;
}

.table1, th, td{
    padding: 8px 20px;
    text-align: center;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even){
    background-color: #f2f2f2;
}

.table2 {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1px solid #f2f5f7;
}

.table2 tr th{
    background: #35a9db;
    color: #fff;
    font-weight: bold;
}

.table2 tr td{
    background-color: #f2f2f2;
    width: 50%;
}
section#box{
    position: relative;
    width: 90%;
    min-height: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px; 
    margin-bottom: 60px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(136, 136, 136, 0.2) ;
    padding: 12px;
}

section#box-edit{
    position: relative;
    width: 90%;
    min-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px; 
    margin-bottom: 60px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(136, 136, 136, 0.2) ;
    padding: 12px;
}
section#box-sewa{
    position: relative;
    width: 90%;
    min-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px; 
    margin-bottom: 60px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(136, 136, 136, 0.2) ;
    padding: 15px;
}